.forecast-back {
  /* background-color: rgb(229, 236, 250); */
  background-image: linear-gradient(to bottom left, rgba(220, 252, 244, 0.637), rgb(212, 231, 247));
  margin-top: 4em;
  padding: 20px 0;
}
.main-forecast {
  width: 95vw;
  max-width: 600px;
  margin: auto;
  padding-inline: 1em;
  margin-top: 50px;
  position: relative;
}

.forecast-title {
  font-size: 2em;
  color: rgb(68, 68, 87);
  width: 75%;
  font-weight: 700;
  margin-block: 1.3em;
}
.forecast-container {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  margin-top: 2.5em;
}
.forecast-card {
  background-color: rgba(255, 255, 255, 0.993);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2.5em 1em;
  border-radius: 10px;
  margin-bottom: 4em ;
  height: auto;
}
.forecast-card > * {
  margin-bottom: 1em;
}

.date {
  width: 100%;
  text-align: center;
  color: rgb(137, 137, 160);
  font-weight: 200;
}

.forecast-card img {
  width: 120px;
  filter: drop-shadow(0 5px 5px rgba(97, 97, 97, 0.849));
  display: block;
}

.forecast-description {
  width: 100%;
  height: 75px;
  font-weight: bold;
  color: rgb(89, 93, 116);
}

.forecast-data {
  font-size: .8em;
  text-align: center;
  display: grid;
  gap :15px;
}
.forecast-data > p {
  min-width: max-content;
  color: rgb(73, 73, 73);
}

.forecast-data span {
  color: rgb(78, 83, 148);
}

@media (min-width: 1290px){
  .main-forecast {
    min-width: 1080px;
  }

  .forecast-container {
    gap: 4em;
  }

  .forecast-title {
    font-size: 2.8em;
    margin-bottom: 2em;
  }
  .forecast-data{
    font-size: 1em;
  }
}

/* --------Dark-------- */

.dark .forecast-back {
  background-image: linear-gradient(to bottom left, rgb(32, 33, 58), rgb(55, 71, 85));

}

.dark .forecast-title {
  color: rgb(233, 233, 233);
}

.dark .forecast-card {
  background-color: rgb(34, 40, 58);
}

.dark .forecast-description {
  color: rgb(226, 217, 230);
}

.dark .date {
  color: rgb(187, 187, 187);
}

.dark .forecast-data > p {
  color: rgb(134, 133, 133);
}

.dark .forecast-data span {
  color: rgb(184, 145, 228);
}