.main-app {
  width: 95vw;
  max-width: 600px;
  margin: auto;
  padding-inline: 1em;
  margin-top: 50px;
  position: relative;
}

h1 {
  font-size: 4em;
  text-align: right;
}

h1 span {
  font-weight: bold;
  /* color: rgb(81, 204, 235); */
  position: relative;
  background: linear-gradient(90deg, #84c0d8, #94e7d5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 span::after {
  content: '';
  position: absolute;
  background-color: rgba(41, 141, 223, 0.233);
  left: 25px;
  right: 0;
  bottom: -10px;
  height: 8px;
  border-radius: 1.5em;
}

.icon {
  width: 250px;
  position: absolute;
  top: -15px;
  left: -10px;
  margin-top: -160px;
  filter: drop-shadow(0 0 10px rgba(104, 104, 104, 0.397));
}

.condition {
  font-size: 2.5em;
  width: 75%;
  font-weight: 700;
  color: rgb(68, 71, 83);
  margin-top: 1.3em;
}

.localtime {
  font-size: .8em;
  color: rgb(148, 148, 148);
}

.details {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 2em;
}

.card-details {
  background-color: white;
  width: 200px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  border-radius: .5em;
  box-shadow: 2px 5px 15px rgba(131, 131, 131, 0.075);
  padding-bottom: 20px;
}

.card-details p {
  font-size: 1.5em;
  font-weight: 400;
}

.card-details small {
  color: rgb(82, 81, 81);
}

.no-content {
  margin-top: 50px;
  height: 500px;
  display: grid;
  place-content: center;
}

.no-content .button {
  background-color: white;
  border-radius: 50%;
  width: 230px;
  height: 230px;
  display: grid;
  place-content: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
  font-size: 1.7em;
  transition: transform .1s;
}
.no-content .button  span {
  color: rgb(128, 233, 207);
  font-weight: bold;
}


.no-content .button:hover {
  transform: scale(1.05);
  transition: transform .1s;
}

.no-content .button:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #61f1cdb7 0%, #1c2388c2 100% );
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
  animation: spin 3s linear infinite;
} 

.no-content .button::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
  animation: spin 3s linear infinite;
}

.description {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.description button {
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;
  background-color: white;
  box-shadow: 0 5px 10px rgba(52, 53, 53, 0.103);
  cursor: pointer;
  transition: all .2s;

}

.location-icon {
  width: 30px;
  color: rgb(126, 212, 208);
}
      

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 890px) {
  h1 {
    text-align: center;
    font-size: 5em;
  }
}

@media (min-width: 1290px) {
  .main-app {
    min-width: 50vw;
  }
  .details {
    margin-top: 8em;
  }
  .card-details {
    width: 250px;
    padding-bottom: 50px;
  }
  .card-details small {
    font-size: 1em;
    margin-bottom: 1.5em;
  }
  .card-details p {
    font-size: 2em;
  }
  .condition {
    font-size: 3.5em;
  }
}

.dark .condition {
  color: rgb(219, 219, 219);
}