* {
  margin: 0;
  padding: 0;box-sizing: border-box;
}

html, body {
  font-family: 'poppins';
  background: linear-gradient(135deg, rgba(237, 237, 237, 0.16) 25%, transparent 25%) -62px 0, linear-gradient(225deg, rgba(237, 237, 237, 0.16) 25%, transparent 25%) -62px 0, linear-gradient(315deg, rgba(237, 237, 237, 0.16) 25%, transparent 25%), linear-gradient(45deg, rgba(237, 237, 237, 0.16) 25%, transparent 25%);
  background-size: 124px 124px;
  background-color: #ffffff;
}